.bookCard{
  height: 220px ;
  width: 250px;
  border: 2px solid white;
  background-color: bisque;
  text-align: center;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

.View-books{
  min-height: 80vh;    
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-top: 20px;
}